.container {

  width: 900px;
  margin: 32px auto;
  border: 1px solid #59758D;
  height: 600px;
  border-radius: 5px;
  background-color: #FFFFFF;
  position: relative;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;

}