@import "base";
@import "container";
@import "navigation";
@import "table";
@import "section";
@import "button";

.app {
  position: relative;
  width: 85%;
  left: 15%;
  padding: 16px;
  box-sizing: border-box;
  height: 100%;
  overflow: scroll;
}