section.form-group {
    margin-bottom: 8px;
}

section.form-group label {
    margin-bottom: 6px;
    font-size: 1em;
    width: 15%;
    display: inline-block;
}

section.form-group select,
section.form-group textarea,
section.form-group input:not([type="radio"]):not([type="checkbox"]) {
    width: 40%;
    border-radius: 5px;
    border: 1px solid #F2F2F2;
    padding: 8px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.04);
    vertical-align: middle;
    font-size: 1em;
}

section.form-group textarea {
    min-height: 200px;
}

section.form-group select {
    height: 30px;
}

section.card {
    margin-bottom: 8px;
}

section.card .card-title{
    background-color: #4F6E8D;
    border-radius: 5px 5px 0 0;
    color: white;
    width: 100%;
    padding: 8px 8px;
    box-sizing: border-box;
}

section.card .card-title .fa {
    margin-right: 6px;
}

section.card .card-title h1,
section.card .card-title h2,
section.card .card-title h3 {
    margin: 0;
}

section.card .card-body {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    background-color: #F2F2F2;
    border-radius: 0 0 5px 5px;
}

section.card .card-body p:first-child {
    margin-top: 0;
}

section.card .card-body p:last-child {
    margin-bottom: 0;
}

section.card .card-body table tbody tr td {
    border-color: white;
}

section.card .card-body table tbody tr td:last-child {
    border-color: white;
}